<h2>Total Sales By Seller</h2>

{% include 'admin/template_sql_accordion.html' %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Store Name</th>
            <th scope="col" class="text-end">Total Sales</th>
            <th scope="col" class="text-end">Average Order Total</th>
            <th scope="col" class="text-end">Unique Instruments Sold</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.storeName }}</td>
                <td class="text-end">${{ '%.2f'|format(item.totalSales) }}</td>
                <td class="text-end">${{ '%.2f'|format(item.avgOrderTotal) }}</td>
                <td class="text-end">{{ item.uniqueInstrumentsSold }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>