{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/' + record.image_url) }}" class="img-fluid" alt="{{ record.instrument_name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ record.instrument_name }}</h2>
            <p><strong>Brand:</strong> {{ record.brand }}</p>
            <p><strong>Model:</strong> {{ record.model }}</p>
            <p><strong>Description:</strong> {{ record.description }}</p>
            <p><strong>Sold by:</strong> {{ record.store_name }}</p>
            <p><strong>Shipping:</strong> {{ record.shipping_type }}</p>
            <p><strong>Price:</strong> ${{ record.price }}</p>
            <a href="{{ url_for('main.checkout', instrument_id=record.instrument_id) }}">
                <button class="btn btn-primary btn-lg">Buy Now</button>
            </a>        
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Product Details:</h3>
            <table class="table table-striped">
                <tbody>
                    {% for attribute in attributes %}
                    <tr>
                        <td><b>{{ attribute.attribute_key }}</b></td>
                        <td>{{ attribute.attribute_value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}